html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #7c5454;
}
body {
    height: 100%;
    min-height: 130%;
    line-height: 1.75;
    background-color: #cfb3b3;
}

a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}
.topnav a {
    float: left;
    color: #0c0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(231, 223, 223);
    color: rgb(99, 94, 94);
  }
  
  .topnav a.active {
    background-color: #43695b;
    color: rgb(68, 44, 44);
  }

  form {
    position: absolute;
    right: 50px;
    border: 3px solid green;
   }

   hr.new1 {
    border-top: 1px solid rgb(7, 0, 0);
  }

  img {
    border-image: 2px solid rgb(2, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
   }

